body {
    background-color: lightcyan;
    color: rgb(2, 2, 182);
    font-family: "Verdana";
}

header{
    position:sticky;
    top: 0;
    background-color: rgb(175, 175, 235);
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
}

h1 {
    color: rgb(2, 2, 182);
    font-size: 50px;
    font-weight: 600;
    text-align: center; 
}

section {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 30px;
}

section {
    margin: 40px;/*space between the section*/
}

#About{
    text-align: center; /*center title*/
    list-style-type: none;
    background-color: blanchedalmond;
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#About img {
    border-radius:50%;
    max-width: 300px;
    max-height: 300px;
}

#About ul {
    list-style-type: none;
}

#Experience{
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

/* #Experience ul {
    list-style-type: none;
    padding: 0;
}

#Experience li {
    background-color: rgb(237, 182, 220);
    margin-bottom: 6px;
} */

.experience-header {
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}

#Connect{
    background-color: coral;
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#Connect a {
    color:rgb(2, 2, 182);
}

#Connect ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
}

#Connect a:hover {
    color: yellowgreen;
    text-decoration: underline;
}