body {
    background-color: rgb(238, 242, 242);
    color: rgb(45, 45, 197);
    font-family: "Verdana";
    font-size: 20px;
}

header{
    position:sticky;
    top: 0;
    background-color: rgb(175, 175, 235);
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center; 
}


section {
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 30px;
}

section {
    margin: 40px;/*space between the section*/
}

#About{
    text-align: left; /*center title*/
    list-style-type: none;
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#About img {
    border-radius:50%;
    width: 250px;
    height: 200px;
    object-fit: cover;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

#About li {
    text-align: center;
    display: flex;
    flex-direction: column;
} 

#About ul {
    list-style-type: none;
}

#Experience{
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

.experience-header {
    display: flex;
    padding: 0;
    justify-content:space-between;
    align-items: baseline;
}

.experience-item {
    list-style: none;
    /* display: flex;
    justify-content: space-between; */
    border: 2px solid rgb(250, 244, 244);
    padding: 10px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.description {
    padding: 10px;
    padding-left: 20px;
    margin-left: 30px;
}

#Skills{
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#Skills ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content:space-between;
    flex-wrap: wrap;
}

#Projects{
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#Projects ul {
    list-style: none;
    padding: 0;
}


#Connect{
    background-color: rgb(234, 152, 209);
    box-shadow: 0 2px 5px rgb(70, 69, 69);
}

#Connect a {
    color:rgb(2, 2, 182);
}

#Connect ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}

#Connect a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

/*Desktop*/
@media (min-width: 768px){
    body{
        background-color: rgb(218, 194, 163);
        color:rgb(177, 81, 81);
        font-size: 30px;
    }
    h1{
        font-size: 90px;
        color:brown;
    }
    #About img {
        width: 400px;
        height: 400px;  
    }
    #Connect a {
        color:rgb(177, 81, 81);
    }

}

/*Mobile*/
@media (max-width: 768px){
    h1{
        font-size: 50px;
        color:blue;
    }
    #About img {
    width: 200px;
    height: 200px;  
    }
}